.newseful-event-container {
	width: 57%;
	float: right;
	color: #1A2326;
	position: relative;
}

.newseful-event-container * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.newseful-event-block {
	position: relative;
	border: 1px solid #D3E6ED;
	border-radius: 4px;
	padding: 1.3rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	margin-left: 1.5rem;
}

.newseful-event-block::before {
	content: '';
	display: block;
	position: absolute;
	top: calc(1rem - 1px);
	left: calc(-1rem - 8px);
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 12px solid #D3E6ED;
}

.newseful-event-block::after {
	content: '';
	display: block;
	position: absolute;
	top: 1rem;
	left: calc(-1rem - 4px);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 10px solid #FFF;
}

.newseful-timestamp {
	font-family: 'inconsolata', monospace;
	color: #799099;
	font-size: 0.75rem;
	text-transform: uppercase;
}

.newseful-content {
	font-family: "Lyon Text NYT", serif;
	font-size: 1rem;
	line-height: 1.3888888;
	margin-top: 1rem;
}

.newseful-timeline-container {
	width: 13%;
	float: right;
	overflow: visible;
}

.newseful-events-timeline line {
	stroke : #40C693;
	stroke-width: 2;
}

.newseful-events-timeline circle {
	stroke : #FFF;
	stroke-width: 3;
	fill: #40C693;
	stroke-location: outside;
}

.newseful-commentary-timeline circle {
	stroke : #FFF;
	stroke-width: 3;
	fill: #1A2326;
	stroke-location: outside;
}

.newseful-commentary-timeline line {
	stroke : #1A2326;
	stroke-width: 2;
}

.newseful-commentary-container {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 30%;
	float: left;
	position: relative;
	padding-left: 1rem;
}

.newseful-commentary-container * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.newseful-commentary-block {
	position: absolute;
	background: #1A2326;
	border: 1px solid #FFF;
	color: #FFF;
	font-size: .75rem;
	padding: .5rem;
	border-radius: 4px;
	right: 1.5rem;
	transform: translate(0,.5rem);
	z-index: 1;
	margin-left: 1.5rem;
}

.newseful-commentary-content {
	display: none;
	margin-top: .7rem;
}

.newseful-commentary-content > p {
	line-height: 1.38888888;
}

.newseful-commentary-content .newseful-timestamp {
	color: #87793F;
	margin-top: .5rem;
}

.newseful-commentary-content .newseful-source-button {
	font-family:'Atlas Grotesk', sans-serif;
	display: block;
	margin-left: -.5rem;
	background: #B09E52;
	padding: .5rem;
	margin-right: -.5rem;
	margin-bottom: -.5rem;
	margin-top: .5rem;
	color: #F2E7B8;
	text-decoration: none;
}

.newseful-commentary-content .newseful-source-button:hover {
	background: #87793F;
}

.newseful-commentary-block::after {
	content:'';
	display: block;
	width: 0;
	height: 0;
	border-right: 7px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 7px solid #1A2326;
	position: absolute;
	top: .55rem;
	right: -14px;
}

.newseful-commentary-block::before {
	content:'';
	display: block;
	width: 0;
	height: 0;
	border-right: 7px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 7px solid #FFF;
	position: absolute;
	top: .55rem;
	right: -14px;
}

.newseful-commentary-title {
	font-family:'Atlas Grotesk', sans-serif;
}

.newseful-commentary-block:hover {
	z-index: 2;
	background: #F2E7B8;
	border: 1px solid #B09E52;
	color: #87793F;
	width: calc(100% - 2.5rem);
}

.newseful-commentary-block:hover::before {
	border-left: 7px solid #B09E52;
}

.newseful-commentary-block:hover::after {
	right: -12px;
	border-left: 7px solid #F2E7B8;
}

.newseful-commentary-block:hover .newseful-commentary-content {
	display: block;
}

.newseful-date-marker {
	font-family: 'Inconsolata', monospace;
	fill: #83AFBA;
	font-size: .75rem;
}

.newseful-range-circle {
	fill: #FFF;
	stroke : #D3E6ED;
	stroke-width: 2;
}

.newseful-date-marker-bg {
	fill: #FFF;
	stroke: #83AFBA;
	stroke-width: 1;
	transform: translate(0,-50%);
}
.newseful-date-timeline line {
	stroke : #D3E6ED;
	stroke-width: 2;
}

.newseful-timeline-label {
	position: absolute;
	top: -2rem;
	display: inline-block;
	padding: .25rem;
	background: #D3E6ED;
	color: #83AFBA;
	font-family: 'Atlas Grotesk', sans-serif;
	font-size: .75rem;
}

.newseful-timeline-label::after {
	content: '';
	height: 0;
	width: 0;
	border: 5px solid #D3E6ED;
	display: block;
	position: absolute;
	bottom: -10px;
}

.newseful-event-container .newseful-timeline-label::after {
	left: 0;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.newseful-commentary-container .newseful-timeline-label::after {
	right : 0;
	border-left: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.newseful-commentary-container .newseful-timeline-label {
	right: 0;
}