.newseful-fact-inline::after {
	content: '';
	display: inline-block;
	width: .6em;
	height: .6em;
	border-radius: 50%;
	background: #799099;
	position: relative;
	padding: 0;
	top: -.12em;
	margin: 0 .25em 0 0;
}

.newseful-fact-inline--confirmed::after {
	background: #40C693;
}

.newseful-fact-inline--unconfirmed::after {
	background: #B09E52;
}

.newseful-fact-inline--false {
	border-bottom: 2px solid #DB8D61;
}

.newseful-fact-inline--false::after {
	display: none;
}

.newseful-fact-module {
	font-family: 'Atlas-Grotesk', sans-serif;
	font-size: .875rem;
	color: #404E54;
}

.newseful-fact-module__fact-list {
	list-style-type: none;
	padding:0;
	margin: 0;
}

.newseful-fact-module__list-item:not(:last-of-type) {
	border-bottom: 1px solid #D3E6ED;
}

.newseful-fact-module__list-item {
	padding: 1rem 0;
}

.newseful-fact-module__list-item::after {
	content: '';
	display: inline-block;
	float: right;
	padding: .25rem .5rem;
	border-radius: 4px;
	font-family: 'inconsolata', monospace;
	text-transform: uppercase;
	font-size: .75rem;
	position: relative;
	top: -.2rem;
}

.newseful-fact-module__list-item::before {
	content: '';
	display: inline-block;
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	margin-right: .5rem;
}

.newseful-fact-module__list-item[data-status='newseful-fact-status--confirmed']::after {
	content: attr(data-label);	
	background: rgba(64, 198, 147, 0.3);
	border: 1px solid #40C693;
	color: #40C693;
}

.newseful-fact-module__list-item[data-status='newseful-fact-status--confirmed']::before {
	background: #40C693;
}

.newseful-fact-module__list-item[data-status='newseful-fact-status--unconfirmed']::after {
	content: attr(data-label);
	background: #F2E7B8;
	border: 1px solid #B09E52;
	color: #B09E52;
}

.newseful-fact-module__list-item[data-status='newseful-fact-status--unconfirmed']::before {
	background: #B09E52;
}

.newseful-fact-module__list-item[data-status='newseful-fact-status--false']::after {
	content: attr(data-label);
	background: #F2D8C7;
	border: 1px solid #DB8D61;
	color: #DB8D61;
}

.newseful-fact-module__list-item[data-status='newseful-fact-status--false']::before {
	background: #DB8D61;
}