.newseful-annotation {
	text-decoration: underline;
	cursor: pointer;
}

.newseful-annotation__block {
	display:none;
	-webkit-transform: translate(-50%, -110%);
	transform: translate(-50%, -110%);
	width: 250px;
	top: 0;
	left: 0;
	position: absolute;
	background: #D3E6ED;
	border: 1px solid #83AFBA;
	border-radius: 4px;
	opacity: 0;
	color:  #404E54;
}

.newseful-annotation__block--flip {
	-webkit-transform: translate(-50%, 20%);
	transform: translate(-50%, 20%);
}

.newseful-annotation__block::before {
	content:'';
	width: 0;
	height: 0;
	position: absolute;
	border:8px solid transparent;
	border-top: 8px solid #83AFBA;
	bottom: -16px;
	left: 50%;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
	z-index: -1;
}

.newseful-annotation__block::after {
	content:'';
	width: 0;
	height: 0;
	position: absolute;
	border:8px solid transparent;
	border-top: 8px solid #D3E6ED;
	bottom: -15px;
	left: 50%;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
	z-index: -1;
}

.newseful-annotation__block--flip::before {
	top: -16px;
	bottom: auto;
	border-top: 8px solid transparent;
	border-bottom: 8px solid #83AFBA;
}

.newseful-annotation__block--flip::after {
	top: -15px;
	bottom: auto;
	border-top: 8px solid transparent;
	border-bottom: 8px solid #D3E6ED;
}

.newseful-annotation__name {
	font-family: 'Atlas Grotesk', sans-serif;
	color: #404E54;
	padding: .85rem .85rem 0;
	margin: 0;
	font-weight: 400;
	font-size: 1rem;
}

.newseful-annotation__title {
	font-family: 'Atlas Grotesk', sans-serif;
	font-size: .75rem;
	padding: .85rem .85rem 0;
	margin: 0;
	text-transform: uppercase;
	color: #799099;
	font-weight: 500;
	letter-spacing: 1px;
}


.newseful-annotation__description {
	font-family: 'Atlas Grotesk';
	font-size: .875rem;
	color: #404E54;
	padding: .85rem .85rem .85rem;
	margin: 0;
}

.newseful-annotation__generic-props-list {
	font-family: 'inconsolata', monospace;
	font-size: .75rem;
	text-transform: uppercase;
	padding: 0 .85rem .85rem;
	margin: 0;
}

.newseful-annotation__generic-prop-pair {
	display: inline-block;
	background: #83AFBA;
	border: 1px solid #63848C;
	border-radius: 1rem;
	padding: 0 .5rem;
	margin-right: .25rem;
}

.newseful-annotation__generic-prop-title {
	color: #D3E6ED;
	display: inline;
	margin:0;
	padding:0;
}

.newseful-annotation__generic-prop-def {
	color: #FFF;
	display: inline;
	margin:0;
	padding:0;
}

.newseful-annotation__generic-prop-title::after {
	content:': ';
}

.newseful-annotation__location-map {
	max-width: 100%;
	display: block;
}

.newseful-annotation:hover .newseful-annotation__block {
	opacity: 1;
	display: block;
}