/* 
	 Newseful reset based on Meyer Reset
	 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*.newseful-module, .newseful-module div, .newseful-module span,
.newseful-module h1,.newseful-module h2,.newseful-module h3,.newseful-module h4,.newseful-module h5,.newseful-module h6,.newseful-module p,.newseful-module blockquote,.newseful-module pre,
.newseful-module a, .newseful-module dl, .newseful-module dt,.newseful-module dd,.newseful-module ol,.newseful-module ul,.newseful-module li
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
	line-height: 1.388888;
}

.newseful-module ol, .newseful-module ul, .newseful-module dl {
	list-style: none;
}*/